/* header */

.headerMobile {
  display: none;
  background-color: $cyan2;
}
.headerDesktop {
  width: 100vw;
  background-color: $cyan2;
}

/*filters bar */

.FiltersBar {
  width: 70vw;
  height: 40px;
  position: relative;
  background-color: white;
  margin: 0 auto;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .filters {
    display: flex;

    width: 70%;
  }
  .filter {
    margin: 0 20px;
    height: 25px;
    background-color: $cyan2;
    padding-left: 5px;
    border-radius: 5px;
    align-items: center;
    display: flex;

    p {
      padding: 5px;
    }
  }

  img {
    height: 14px;
    width: 14px;
    z-index: 10;
    background-color: $cyan1;
    padding: 5px;
    border-radius: 5px;
    transition: all 1s;
    &:hover {
      background-color: $cyan4;
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  p {
    color: $cyan1;
  }
}

#clear {
  margin-right: 20px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
