.jobContainer {
  margin: 3vh auto;
  width: 70vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 10px 8px #8888882a;
  .border {
    border-left: 6px solid $cyan1;
  }
}

.mainInfo {
  display: flex;
  align-items: center;
  img {
    height: 10vh;
    padding: 10px 15px 10px 25px;
  }
}

.textContainer {
  .upperLine {
    margin-top: 20px;
    width: 30vw;
    .clear {
      display: none;
    }
    p {
      display: inline-block;
      padding: 0% 3% 0 0;
      color: $cyan1;
      font-weight: 700;
    }

    .new {
      @extend%job-alert;
      background-color: $cyan1;
      margin-right: 7px;
    }
    .featured {
      @extend%job-alert;
      background-color: $cyan4;
    }
  }
  .jobTitle {
    margin: 3% 0;
    color: $cyan4;
    font-weight: 700;
    &:hover {
      cursor: pointer;
      color: $cyan1;
    }
  }
  .jobInfo {
    display: flex;
    p {
      padding-right: 6%;
      color: $cyan3;
      margin-bottom: 15px;
    }
  }
}
