@media only screen and (max-width: 1000px) {
  .headerDesktop {
    display: none;
  }
  .headerMobile {
    display: block;
  }

  .FiltersBar {
    width: 90vw;
    height: auto;
    min-height: 50px;
    .filters {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      margin: 1px 1px 1px 15px;
    }
    .filter {
      margin: 5px;
    }
  }

  .jobContainer {
    font-size: 18px;
    flex-direction: column;
    justify-content: space-evenly;

    height: 300px;
    width: 90%;
    margin-top: 13vh;
    margin-bottom: 0;
    position: relative;

    .textContainer {
      width: 100%;
    }
    img {
      position: absolute;
      top: -50px;
      left: 10px;
      width: 75px;
      height: 75px;
    }
    .mainInfo {
      width: 90%;
      margin: 25px auto 5px;
    }
    .upperLine {
      display: flex;
      .new {
        margin: 0px 5px;
      }
    }
    .jobTitle {
      margin: 5% 0;
    }
    .jobInfo {
      font-size: 12px;
      display: inline-block;
      display: flex;
    }
    .hr {
      display: block;
    }
    .categories {
      p {
        font-size: 16px;
        margin: 6px;
      }
    }
  }
}
